################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net45
/.vs/Arcana/v15/Server/sqlite3
/.vs/Arcana/v15
/obj
/.vs/config
/Arcana.sln.DotSettings.user
*.dtbcache
.vs/
